<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑页面</title>
</head>
<body>
<div class="ls-card ls-container">
    <div style="height: 50px;position: sticky;top: 24px;z-index: 1;">
        <a-button size="small" @click="onBack"><a-icon type="rollback"></a-icon> 返回</a-button>
        <a-button v-if="operate !== 'View'" type="primary" size="small" @click="savaForm" style="margin-left: 10px;"><a-icon type="save"></a-icon> 保存</a-button>
    </div>
    <a-form-model :model="formData" :rules="formDataRules" ref="form">
        <a-form-model-item v-if="operate !== 'Add'" label="ID" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-input v-model="id" disabled/>
        </a-form-model-item>
        <a-form-model-item label="任务描述" prop="task_desc" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-input v-model="formData.task_desc" :disabled="formDisabled"/>
        </a-form-model-item>
        <a-form-model-item label="任务分组" prop="task_group" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-select v-model="formData.task_group" :disabled="formDisabled" style="width: 100px;">
                <a-select-option value="system">system</a-select-option>
                <a-select-option value="default">default</a-select-option>
            </a-select>
        </a-form-model-item>
        <a-form-model-item label="函数路径" prop="func_path" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-input v-model="formData.func_path" :disabled="formDisabled"/>
        </a-form-model-item>
        <a-form-model-item label="Cron表达式" prop="cron_expression" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-input v-model="formData.cron_expression" :disabled="formDisabled"/>
        </a-form-model-item>
        <a-form-model-item label="状态" prop="status" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-select v-model="formData.status" :disabled="formDisabled" style="width: 100px;">
                <a-select-option value="1">启动</a-select-option>
                <a-select-option value="2">暂停</a-select-option>
                <a-select-option value="3">终止</a-select-option>
            </a-select>
        </a-form-model-item>
        <a-form-model-item label="执行策略" prop="misfire_policy" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-select v-model="formData.misfire_policy" :disabled="formDisabled" style="width: 100px;">
                <a-select-option value="1">默认</a-select-option>
                <a-select-option value="2">立即执行</a-select-option>
                <a-select-option value="3">执行一次</a-select-option>
                <a-select-option value="4">放弃执行</a-select-option>
            </a-select>
        </a-form-model-item>
        <a-form-model-item label="并发执行" prop="concurrent_execute" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-switch :checked="formData.concurrent_execute == '1'" :disabled="formDisabled" @change="formData.is_log = formData.is_log == '1'?'0':'1'" size="small"/>
        </a-form-model-item>
        <a-form-model-item label="是否记录日志" prop="is_log" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-switch :checked="formData.is_log == '1'" :disabled="formDisabled" @change="formData.is_log = formData.is_log == '1'?'0':'1'" size="small"/>
        </a-form-model-item>
        <a-form-model-item label="备注" prop="memo" :label-col="{span: 3}" :wrapper-col="{span: 20}">
            <a-textarea v-model="formData.memo" :disabled="formDisabled" :rows="5" :maxlength="250" placeholder="最多输入 250 个字符"/>
        </a-form-model-item>
    </a-form-model>
</div>
</body>
<script>
    function init(props, params) {
        let _this = null;

        new Vue({
            el: ".ls-container",
            data: {
                operate: params.operate,
                id: params.id,
                // 禁用表单
                formDisabled: false,
                // 表单数据
                formData: {
                    task_desc: null,
                    task_group: 'system',
                    func_path: null,
                    cron_expression: null,
                    status: '1',
                    misfire_policy: '4',
                    concurrent_execute: '1',
                    is_log: '0',
                    memo: null
                },
                // 表单验证
                formDataRules: {
                    task_desc: [
                        { required: true, message: '任务描述为必填项', trigger: 'change' },
                    ],
                    task_group: [
                        { required: true, message: '任务分组为必填项', trigger: 'change' },
                    ],
                    func_path: [
                        { required: true, message: '函数路径为必填项', trigger: 'change' },
                    ],
                    cron_expression: [
                        { required: true, message: 'Cron表达式为必填项', trigger: 'change' },
                    ],
                    status: [
                        { required: true, message: '状态为必填项', trigger: 'change' },
                    ],
                    misfire_policy: [
                        { required: true, message: '故障策略为必填项', trigger: 'change' },
                    ],
                    concurrent_execute: [
                        { required: true, message: '并发执行为必填项', trigger: 'change' },
                    ],
                    is_log: [
                        { required: true, message: '是否记录日志为必填项', trigger: 'change' },
                    ],

                }
            },
            created() {
                _this = this;

                if (this.operate === 'View') {
                    this.formDisabled = true;
                }

                if (this.operate !== 'Add') {
                    Ajax.get({
                        url: '/system/api/timedTask/getSysTimedTaskList',
                        param: {
                            timed_task_id: _this.id
                        },
                        success(result) {
                            if(result.IsSuccess === '1' && result.data.length > 0) {
                                _this.formData = result.data[0];
                            } else {
                                _this.$message.error(result.Msg);
                            }
                        }
                    });
                }
            },
            methods: {
                // 返回
                onBack() {
                    QiankunUtil.toPage(props.parentUrl + 'index.html', { backParams: params.backParams });
                },
                // 保存表单
                savaForm() {
                    this.$refs.form.validate(valid => {
                        if (valid) {
                            let param = this.formData;

                            if (this.operate === 'Edit') {
                                param.timed_task_id = this.id;
                            }

                            Ajax.post({
                                url: '/system/api/timedTask/updateSysTimedTask?UpdateType=' + this.operate,
                                param: param,
                                success(result) {
                                    if(result.IsSuccess === '1') {
                                        _this.$message.success('操作成功');
                                        _this.onBack();
                                    } else {
                                        _this.$message.error(result.Msg);
                                    }
                                }
                            });
                        } else {
                            this.$message.error('表单校验失败，请检查输入');
                        }
                    });
                }
            }
        });
    }

    // 获取qiankun子应用生命周期
    QiankunUtil.getLifecycles({
        mount(props) {
            init(props, props.params);
        }
    });
</script>
</html>