<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>列表页面</title>
	<style>
		/* 表头居中 */
		.ls-container .ant-table-thead > tr > th {
			text-align: center;
		}
	</style>
</head>
<body>
<div class="ls-card ls-container">
	<a-button v-if="pageParams.backMenuParams" size="small"
		@click="QiankunUtil.toPage('/backend/systemManage/menu/index.html', {backParams: pageParams.backMenuParams})"
		style="margin-right: 10px;"><a-icon type="rollback"></a-icon> 返回</a-button>
	<b>用户管理</b>
	<a-divider></a-divider>
	<div class="ls-table-tool">
		<a-input-group compact style="width: 350px;">
			<a-select v-model="searchConfig.searchType" style="width: 100px;">
				<a-select-option value="user_id">用户代码</a-select-option>
				<a-select-option value="name">名称</a-select-option>
				<a-select-option value="account">账号</a-select-option>
				<a-select-option value="phone">手机号</a-select-option>
				<a-select-option value="email">电子邮箱</a-select-option>
				<a-select-option value="real_name">真实姓名</a-select-option>
				<a-select-option value="idcard">身份证号</a-select-option>
			</a-select>
			<a-select v-model="searchConfig.IsEqual" style="width: 70px;">
				<a-select-option value="0">包含</a-select-option>
				<a-select-option value="1">等于</a-select-option>
			</a-select>
			<a-input v-model="searchConfig.searchKey" placeholder="请输入搜索关键字" style="width: calc(100% - 170px);"/>
		</a-input-group>
		<a-input-group compact style="width: 130px;">
			<div class="ls-control-tag">禁用</div>
			<a-select v-model="searchConfig.model.is_disable" style="width: calc(100% - 52px);">
				<a-select-option value="">所有</a-select-option>
				<a-select-option value="1">是</a-select-option>
				<a-select-option value="0">否</a-select-option>
			</a-select>
		</a-input-group>
		<a-input-group compact style="width: 350px;">
			<div class="ls-control-tag">角色</div>
			<a-select
				mode="multiple"
				:value="roleSelect.selectedIds"
				placeholder="请选择角色"
				style="width: calc(100% - 52px);"
				@change="roleSelectChange"
				@search="roleSelectSearch"
				@focus="roleSelectFocus"
				:filter-option="false"
			>
				<!-- 已选中但不在当前选项列表中的项目（幽灵选项） -->
				<a-select-option
					v-for="item in roleSelect.ghostOptions"
					:key="item.role_id"
					:value="item.role_id"
					style="color: #999; font-style: italic;"
				>
					{{ item.role_id }} - {{ item.role_name }}
				</a-select-option>
				<!-- 正常选项 -->
				<a-select-option
					v-for="item in roleSelect.list"
					:key="item.role_id"
					:value="item.role_id"
				>
					{{ item.role_id }} - {{ item.role_name }}
				</a-select-option>
			</a-select>
		</a-input-group>
		<a-button type="primary" @click="search(false)"><a-icon type="search"></a-icon> 搜索</a-button>
		<a-button @click="search(true)"><a-icon type="sync"></a-icon> 重置</a-button>
	</div>
	<div class="ls-table-tool" style="width: 100%;display: flex;justify-content: space-between;">
		<div>
			<a-button type="primary" @click="edit(null,'Add')" v-if="$ls.hasPermission('lspk:ls:user:add')"><a-icon type="plus"></a-icon> 新建</a-button>
			<a-button @click="batchUpdateUser('Delete')" v-if="$ls.hasPermission('lspk:ls:user:delete')"><a-icon type="delete" style="color: red;"></a-icon> 批量删除</a-button>
			<a-button @click="batchUpdateUser('IsDisable','1')" v-if="$ls.hasPermission('lspk:ls:user:edit:isDisable')"><a-icon type="lock"></a-icon> 批量禁用</a-button>
			<a-button @click="batchUpdateUser('IsDisable','0')" v-if="$ls.hasPermission('lspk:ls:user:edit:isDisable')"><a-icon type="unlock"></a-icon> 批量取消禁用</a-button>
		</div>
	</div>
	<a-table
		:columns="tableColumns"
		:data-source="tableData"
		:pagination="tablePagination"
		@change="handleTableChange"
		:loading="tableLoading"
		:row-selection="{
			selectedRowKeys: selectedRowKeys,
			onChange: onSelectChange,
		}"
		:scroll="{ x: 1820 }"
		size="small" bordered
	>
		<template slot="action" slot-scope="text, record">
			<a-button type="link" size="small" title="查看" @click="edit(record.user_id,'View')"><a-icon type="eye"></a-icon></a-button>
			<a-button type="link" size="small" title="编辑" @click="edit(record.user_id,'Edit')" v-if="$ls.hasPermission('lspk:ls:user:edit')"><a-icon type="edit"></a-icon></a-button>
			<a-popconfirm title="确定删除该项？" v-if="$ls.hasPermission('lspk:ls:user:delete')" @confirm="edit(record.user_id,'Delete')" @cancel="" ok-text="确定" cancel-text="取消">
				<a-button type="link" size="small" title="删除" style="color: #f5222d;"><a-icon type="delete"></a-icon></a-button>
			</a-popconfirm>
			<a-button type="link" size="small" title="重置密码" @click="handleShowResetPwdModal(record.user_id)" v-if="$ls.hasPermission('lspk:ls:user:edit:resetPwd')">[重置密码]</a-button>
		</template>
		<template slot="avatar" slot-scope="text">
			<img v-if="text && text !== ''" :src="text" width="50">
		</template>
		<template slot="sex" slot-scope="text">
			<a-tag v-if="text == '1'" color="blue"><a-icon type="man"></a-icon></a-tag>
			<a-tag v-else-if="text == '2'" color="red"><a-icon type="woman"></a-icon></a-tag>
			<a-tag v-else color="gray">未知</a-tag>
		</template>
		<template slot="role_list" slot-scope="role_list, record">
			<span v-for="role,index in role_list">
				{{index == 0?role.role_name:'| ' + role.role_name}}
			</span>
		</template>
		<template slot="is_disable" slot-scope="text, record">
			<a-switch size="small" @change="updateIsDisable(record.user_id,record)" :checked="text === '1'" :disabled="!$ls.hasPermission('lspk:ls:user:edit:isDisable')"/>
		</template>
	</a-table>
	<!-- 重置密码对话框 -->
	<a-modal v-model="showResetPwdModal" title="重置密码" @ok="handleResetPwd" centered>
		<p>用户代码：{{resetPwdUserId}}</p>
		<p><a-input-password v-model="resetPwdNewPassword" placeholder="请输入新密码"/></p>
	</a-modal>
</div>
</body>
<script src="./js/index.js"></script>
</html>